/* there's nothing much going on here right now. */
/* if you want to style your site, come back to this LAST. */

body {
  font-family: Helvetica;
  background-color: rgb(255, 255, 255);
}

#randomColorButton{
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #666666
}

#theGrid{
  /* you can use CSS grid if you'd like. */
}
